@import "tailwindcss";

@layer base {
  :root {
    --background: #0f1113;
    --foreground: #ededed;
    --primary: #42938a;
    --primary-hover: #33746d;
    --card-bg: #16191c;
    --card-border: #2a2e33;
  }


}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}